---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative">
    <SectionTitle
      sectionTitle="¡Contáctanos!"
      description="Colaboremos para fortalecer la IA soberana en México."
    />
    <Form />
  </div>
</Section>
