---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative">
    <SectionTitle
      sectionTitle="¡Contactános!"
      description="Colabora con nosotros en la alianza"
    />
    <Form />
  </div>
</Section>
