---
import { Image } from "astro:assets";
import s1 from "../../assets/pics/inbest.svg";
import s2 from "../../assets/pics/wow.svg";
import s3 from "../../assets/pics/cocktail.svg";
import s4 from "../../assets/pics/servnet.svg";
import s5 from "../../assets/pics/obok.svg";
import Section from "./Section.astro";

const sponsors = [
  { logo: s1, alt: "iNBest" },
  { logo: s2, alt: "WOW Innovación Creativa" },
  { logo: s3, alt: "Cocktail" },
  { logo: s4, alt: "Servnet" },
  { logo: s5, alt: "Obok" },
];
---

<Section id="sponsors">
  <div class="text-center mb-10">
    <h2 class="mb-5">Participantes</h2>
    <p class="max-w-3xl mx-auto">
      Los participantes actuales de la Alianza Mexicana para la IA Soberana representan a más de 70 organizaciones, con un valor de mercado que supera los 3mil millones de pesos y que generan más de 10mil de empleos en todo el país—y esa lista sigue creciendo.
    </p>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-8 gap-y-12 max-w-6xl mx-auto">
    {
      sponsors.map((sponsor) => (
        <div class="flex items-center justify-center min-h-[96px]">
          <div class="relative w-full max-w-[180px] h-full px-4">
            <Image 
              src={sponsor.logo} 
              alt={sponsor.alt} 
              loading="eager"
              class="w-full h-full object-contain"
            />
          </div>
        </div>
      ))
    }
  </div>
</Section