---
import { Image } from "astro:assets";
import Facebook from "../../assets/facebook.svg";
import Linkedin from "../../assets/linkedin.svg";
import Github from "../../assets/github.svg";
import Logo from "../../assets/logo-alt.svg";
import Twitter from "../../assets/twitter.svg";
import ShortForm from "../ui/ShortForm.astro";

const logos = [
  { name: "Facebook", src: Facebook, link: "https://facebook.com/amias_mx" },
  { name: "Linkedin", src: Linkedin, link: "https://linkedin.com/company/amias-mx" },
  { name: "Twitter", src: Twitter, link: "https://x.com/amias_mx" },
  { name: "Github", src: Github, link: "https://github.com/amias-mx" },
];
---

<section class="sm:px-5">
  <div class="w-full max-w-[1240px] mx-auto">
    <div
      class="px-[15px] bg-dark text-white py-[55px] lg:px-[60px] sm:rounded-t-[45px]"
    >
      <div>
        <div
          class="flex flex-col lg:flex-row gap-7 items-center justify-between"
        >
          <picture>
            <a href="#home">
              <Image src={Logo} alt="Alianza Mexicana para la IA Soberana" />
            </a>
          </picture>
          <ul class="flex gap-5">
            {logos.map((logo) => (
              <li>
                <a href={logo.link} target="_blank">
                  <picture>
                    <Image src={logo.src} alt={logo.name} class="w-6 h-6" />
                  </picture>
                </a>
              </li>
            ))}
          </ul>
        </div>

        <div class="flex flex-col lg:flex-row mt-[66px] mb-[51px]">
          <div class="flex text-center lg:text-start flex-col w-full lg:w-[30%]">
            <h3 class="mb-5">Contáctanos:</h3>
            <div class="flex flex-col justify-between gap-4">
              <span>Correo: hola@amais.mx</span>
              <span>Teléfono: (+52) 55 6651 8800</span>
              <span class="lg:w-3/4">
                Av. Unión #163<br />
                Piso 1, Col. Lafayette<br />
                Guadalajara, Jalisco, México<br />
                C.P. 44140
              </span>
            </div>
          </div>
          <div class="flex-grow my-10 lg:my-0 lg:ml-12">
            <ShortForm />
          </div>
        </div>
      </div>

      <div class="h-[1px] bg-white mb-5"></div>
      <div
        class="flex flex-col lg:flex-row h-20 justify-center mt-4 text-center md:justify-between md:mt-0"
      >
        <span>
          Algunos Derechos Reservados, ®2025 Alianza Mexicana para la IA Soberana
        </span>
      </div>
    </div>
  </div>
</section>
